body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  font-family: "TwitterExtendedHeavy-woff2", sans-serif;
}

* {
  box-sizing: border-box;
}

.screen-ctn {
  display: flex;
  justify-content: center;
  color: #e7e9ea;
  height: 100%;
  /* position per header */
  position: relative;
}
/* Sidebar */
.home-icon {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 60%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.feed-mode-underlinde {
  background-color: #1d9bf0;
  width: 12rem;
  max-height: 4px;
  position: absolute;
  bottom: 0px;
}

.profile-card-sidebar {
  display: flex;
  justify-content: space-between;
  width: 12%;
  padding: 0.7rem;
  padding-right: 0.6rem;
  margin-bottom: 1rem;
  position: fixed;
  bottom: 0px;
}

/* Test per stick */
.fixed {
  position: fixed;
  top: 0px;
  bottom: 0px;
}

.profile-card-sidebar:hover {
  background-color: #181818;
  border-radius: 10rem;
}
.side-nav-bar-ctn {
  height: 90%;
  width: 100%;
}

.name-usrn-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.profile-card-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-sidebar > div > a {
  text-decoration: none;
  color: #e7e9ea;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.7rem;
  width: fit-content;
  padding: 0.4rem;
}
.nav-elem-ctn:hover {
  border-radius: 30rem;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-elem-ctn a:hover {
  border-radius: unset;
  background-color: unset;
}

.nav-sidebar {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* Main content */
.main-ctn {
  border-left: 0.8px solid rgb(255, 255, 255, 0.1);
  border-right: 0.8px solid rgb(255, 255, 255, 0.1);
  min-height: 100%;
}

.feed-mode-ctn {
  border-bottom: 0.8px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  /* background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px); */
}

.post-interact-ctn {
  display: flex;
}

.post-btn {
  background-color: #1d9bf0;
  color: #e7e9ea;
  font-weight: bolder;
  border-radius: 7rem;
  font-size: 0.8rem;
  border: none;
}

#post-new-tweet:disabled {
  background-color: #0f4e78;
  color: rgb(170, 152, 152);
}

.post-btn:not([disabled]):hover {
  background-color: rgb(9, 94, 151);
}

#sidebar-post-btn {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
}

#sidebar-post-btn:hover {
  background-color: rgb(26, 140, 216);
}

.sidebar-ctn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  justify-content: space-between;
}

.profile-pic {
  width: 2.4rem;
}

.feed-profile-ctn {
  margin: 10px;
}

.username-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post-interaction-ctn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.bmk-share-ctn {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
  align-items: center;
}

.profile-card-nickname {
  font-weight: 500;
  font-size: small;
}

.profile-card-username {
  color: #666b6f;
  font-size: small;
}

.profile-card-left-side {
  display: flex;
}
.prof-pic-ctn {
  margin: 10px;
}

.post-modal-ctn {
  display: flex;
  /*border-bottom: 0.8px solid rgb(148, 140, 140); */
  gap: 1rem;
}

.post-btn-feed {
  height: 2rem;
  width: 4rem;
  margin-right: 1rem;
}

.post-interact-ctn {
  display: flex;
  flex-direction: column;
}

.post-interact-ctn {
  width: 90%;
}

.interaction-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
}

.interaction-counter {
  color: gray;
}

.interact-cmt:hover {
  color: #1d9bf0;
  background-color: hsla(204, 88%, 53%, 0.5);
  border-radius: 1rem;
}

.interact-rtw:hover {
  color: hsl(160, 100%, 36%);
  background-color: hsla(160, 100%, 36%, 0.5);
  border-radius: 1rem;
}

.interact-like:hover {
  color: hsl(332, 81%, 42%);
  background-color: hsla(332, 81%, 42%, 0.5);
  border-radius: 1rem;
}

#tweet {
  background-color: black;
  font-size: 1.4rem;
  color: #e7e9ea;
  width: 97%;
  /* min-height: 50px; */
  overflow: auto;
  border: none;
  margin-bottom: 1rem;
  max-width: 100%;
}

#tweet:focus {
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  outline: none;
}

.left-types {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  gap: 1rem;
}

#choose-img {
  display: none;
}

.insert-type-twt {
  width: 2.2rem;
  padding: 0.3rem;
}

.insert-type-ctn:hover {
  color: #1d9bf0;
  background-color: hsla(204, 88%, 53%, 0.24);
  border-radius: 1rem;
}

.post-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.feed-username-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-profile-ctn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.username-feed {
  font-size: 1rem;
}

.feed-post-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.feed-post {
  display: flex;
  width: 100%;
  border-bottom: 0.8px solid rgb(255, 255, 255, 0.1);
  border-top: 0.8px solid rgb(255, 255, 255, 0.1);
  gap: 1rem;
}

.feed-post:hover {
  background-color: rgb(10 10 10);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.feed-username-options {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.feed-ctn {
  width: 100%;
}

.picture-post {
  display: block;
  max-width: 77%;
  width: auto;
  height: auto;
  border: 0.8px solid rgb(255, 255, 255, 0.1);
  border-radius: 1rem;
  object-fit: cover;
}

.search-bar {
  display: flex;
  background-color: #202327;
  align-items: center;
  gap: 0.5rem;
}

#search {
  background-color: #16181c;
  outline: none;
  border: none;
}

#search:focus {
  color: #e7e9ea;
}

/* Right side bar */

.right-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
}

.main-side-ctn {
  max-width: 600px;
  min-height: 100%;
  min-width: 650px;
}

.right-side-ctn {
  max-width: 350px;
  min-width: 260px;
  margin-left: 1.4rem;
  margin-top: 10px;
}

.right-side-bar > div {
  background-color: #16181c;
  border-radius: 1rem;
  width: 100%;
  padding: 0.36rem 1rem;
}

.sub-btn {
  padding: 0.4rem 1rem;
  font-size: large;
}

.sub-header {
  font-weight: 900;
}

#trends-ctn {
  padding: 0;
}

.trending-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.trends-main-title {
  padding-left: 1rem;
}

.trending-row:hover {
  background-color: #1d1f23;
}

.trnd-title {
  margin: 0;
  padding: 0;
}

.trnd-ctg {
  display: flex;
  justify-content: space-between;
  color: #474a4f;
}

.trnd-title-ctn {
  justify-self: center;
  padding-bottom: 0.5rem;
}
.trnd-stat-posts {
  color: #474a4f;
  display: flex;
}

.trendings-ctn {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

#follow-sug-ctn {
  padding: 0;
}

.fllw-sg-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-img-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding-left: 1rem;
}

.usr-name-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-fll-sg-ctn {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

#follow-sug-text {
  padding-left: 1rem;
}

.fllw-sg-ctn:hover {
  background-color: #1d1f23;
}

.fllw-sg-ctn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#footer-id {
  background-color: black;
  color: #515863;
}

.input-tweet-ctn {
  margin-top: 15px;
}

.like-post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
}

.retweet-post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
}

.comment-post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
}

.views-post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
}

.like-post-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
  padding: 5px;
  border-radius: 50%;
}

.comment-post-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
  padding: 5px;
  border-radius: 50%;
}

.retweet-post-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
  padding: 5px;
  border-radius: 50%;
}

.views-post-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #d5d9db;
  padding: 5px;
  border-radius: 50%;
}

.like-post-ctn:hover {
  background: rgba(241, 76, 79, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
}

.retweet-post-ctn:hover {
  background: rgba(135, 192, 85, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.comment-post-ctn:hover {
  background: rgba(87, 175, 216, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.1s ease-in;
}

.views-post-ctn:hover {
  background: rgba(87, 175, 216, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.1s ease-in;
}

.post-text-dsc-ctn {
  margin-bottom: 5px;
}

.logout-dropUp {
  height: 120px;
  width: 100%;
  background-color: yellow;
  display: flex;
  position: relative;
  top: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background-color: #686868;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(62, 63, 63, 0.8);
}

@media only screen and (max-width: 1200px) {
  .nav-text {
    display: none;
  }
  .nav-sidebar {
    position: relative;
  }

  .profile-card-left-side {
    position: relative;
  }

  .name-usrn-ctn,
  .profile-card-options {
    display: none;
    background-color: none;
  }

  .fixed {
    left: 70px;
  }

  .profile-card-sidebar {
    display: flex;
    width: 44px;
    justify-content: space-between;
    padding: 0.7rem;
    padding-right: 0.6rem;
    margin-bottom: 1rem;
    position: fixed;
    bottom: 0px;
    background-color: black;
  }
}

@media screen and (max-width: 1089px) {
  .right-side-ctn {
    display: none;
  }

  .fixed {
    left: 100px;
  }

  .sidebar-ctn {
    width: 110px;
  }
}

@media screen and (max-width: 849px) {
  body {
    width: calc(100vw - 100px);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .sidebar-ctn {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .sidebar-ctn {
    display: none;
  }
}

@media screen and (max-width: 435px) {
  body,
  .main-side-ctn,
  .main-ctn {
    width: 400px;
    margin: 0 auto;
    min-width: 0px;
    border: none;
  }

  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .sidebar-ctn {
    display: none;
  }

  .username-name {
    margin-bottom: 4px;
  }

  .picture-post-ctn {
    margin-top: 4px;
  }

  /* .feed-mode-ctn {
    position: sticky !important;
    top: 0 !important;
    background-color: rgba(0, 0, 0, 0.7);
  } */
}
